

#search-modal-container {
    /* width: 100%; */
    
    position: absolute;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

  
    
    display: none;
    justify-content: center;
    justify-self: center;

}

#search-modal-content {
    /* width: 100%; */

    max-width: 700px;
    min-width: 350px;

    padding: 10px;    
}

.modal-background{
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-gradient {
    background: linear-gradient(#2b322b, #1DB954); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
