
/* Fixed poition modal container styles */
#search-modal-container {
    width: 100%;
    
    position: fixed;
    
    top: 10px;
    
    display: none;
    justify-content: center;
    justify-self: center;
    z-index: 8000;
    
}
/* Modal content styles */
#search-modal-content {
    width: 100%;

    max-width: 700px;
    min-width: 350px;

    padding: 10px;    
}
/* Styles for h1 text */
/* .text-gradient {
    background: linear-gradient(#2b322b, #1DB954); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
} */

body {
    background: #000;
    margin: 50px 0px;
}


/*added scroller*/

#topTenContainer {
    width: 100%;
    height: 2.5rem;
    font-family: Montserrat;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: transparent;
    color: #fff;
}
#topTenContainer .scroll {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}
.fade {
    width: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        #000,
        transparent 50%,
        /* transparent 50%,
        #000 */
    );
    inset: 0;
    pointer-event: none;
}
@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: .9rem;
    background-color: #152c41;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
}
